[Unit]
Description=HTTP/HTTPS router using NodeJS

[Service]
Type=simple
WorkingDirectory=/srv/nodejs-router
ExecStart=/bin/bash -c 'cd /srv/nodejs-router/ && node main.js -c config-example.json localhost:80'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
