[Unit]
Description=Locally hosted HTTP router at :%i (using NodeJS)

[Service]
Type=simple
ExecStart=/srv/router/router.js :%i
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
